<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--4-col"></div>
  <div class="mdl-cell mdl-cell--4-col">
    <form style="margin-bottom: 5px;" (submit)="add()">
      <input name="Date" [(ngModel)]="atDate" class="mdl-textfield__input" type="text" placeholder="Add Date" />
      <input name="Systolic" [(ngModel)]="systolic" class="mdl-textfield__input" type="text" placeholder="Add Systolic pressure" />
      <input name="Diastolic" [(ngModel)]="diastolic" class="mdl-textfield__input" type="text" placeholder="Add Diastolic pressure" />
      <input type="submit" value="Add">
    </form>
    <table class="mdl-data-table mdl-data-table--selectable mdl-shadow--2dp" style="width: 100%;">
      <tbody>
      <tr *ngFor="let bp of bpData">
        <td class="mdl-data-table__cell--non_numeric">{{bp.atDate}}</td>
        <td class="mdl-data-table__cell--non_numeric">{{bp.SysBP}}</td>
        <td class="mdl-data-table__cell--non_numeric">{{bp.DiaBP}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="mdl-cell mdl-cell==4=col"></div>
</div>
